<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 mb-4" *ngFor="let proj of projects">
            <app-project-card [project]="proj"></app-project-card>
        </div>
        <!-- <div class="col-lg-4 col-md-6 mb-4">
            <app-project-card [project]="projectCompData"></app-project-card>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <app-project-card [project]="projectCompData"></app-project-card>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <app-project-card [project]="projectCompData"></app-project-card>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <app-project-card [project]="projectCompData"></app-project-card>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <app-project-card [project]="projectCompData"></app-project-card>
        </div> -->
    </div>
   
</div>
