<div class="container">
    <div class="mb-1 mt-2">
        <div>
            <button class="btn btn-outline-primary mb-2 me-2" (click)="isCollapsed = !isCollapsed">Filter</button>
        </div>
        <div [collapse]='isCollapsed' [isAnimated]='true'>
            <div class="border mb-2 shodow-sm" style="width: 250px">
                <form>
                    <div class="row mx-0">
                        <div class="col">
                            <small><b>Languages:</b></small>
                            <div class="form-group">
                                <div class="form-check">
                                
                                    <input 
                                    type="checkbox" 
                                    class="form-check-input position-static me-2"
                                    [(ngModel)]='typescript'
                                    (change)='filter()'
                                    name="typescript"
                                    >
                                <label class="form-check-label small">Typescript</label>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <small><b>Frameworks:</b></small>
                            <div class="form-group">
                                <div class="form-check">
                                    <input 
                                    type="checkbox" 
                                    class="form-check-input position-static me-2"
                                    [(ngModel)]='angular'
                                    (change)='filter()'
                                    name="angular"
                                    >
                                <label class="form-check-label small">Angular</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 mb-4" *ngFor="let proj of projects">
            <app-project-card [project]="proj"></app-project-card>
        </div>
    </div>
</div>
