<div class="container text-center mt-3">
  <button (click)="downloadFile()" class="btn btn-primary shadow border mb-3">
    Download PDF resume
  </button>
  <div class="pb-2">
    <accordion [isAnimated]="true" class="shadow">
      <accordion-group heading="Work Experience">
        <div style="text-align: left">
          <h3 class="mb-0">Tech Lead</h3>
          <span class="float-right">April 2022 - April 2024</span>
          <h4 class="text-primary">Larsen & Toubro Technology Services</h4>
          <ul>
            <li>Worked with micro front end architecture</li>
            <li>
              Migrated the angular 8 application to latest angular 14 updated
              version and replaced libraries to angular material
            </li>
            <li>
              Experience in working with Custom Directives, Controllers,
              Services, and filter modules in Angular
            </li>
            <li>
              Created Dynamic forms which will be generated based on backend
              response
            </li>
            <li>
              Managing application data using NgRx store utilizing action,
              reducers and Ajax calls using Effects and Rxjs Operators
            </li>
          </ul>
          <h3 class="mb-0">Senior Member Technical</h3>
          <span class="float-right">March 2019 - April 2022</span>
          <h4 class="text-primary">Broadridge Financial Solutions</h4>
          <ul>
            <li>
              Worked in Aspire Investor Broken Project By developing Web
              Applications for Clients BetaCpital, Stockcross, Safra, Quest,
              Cetera etc.
            </li>
            <li>
              Implemented Two-Factor Authentication securing questions with Date
              and String questions
            </li>
            <li>
              Enhancement in desktop and mobile context environments for various
              clients with Admin, Investor andbroker access
            </li>
            <li>Developed the Project based ADA standards</li>
          </ul>
          <h3 class="mb-0">Associate</h3>
          <span class="float-right">Oct 2015 - Sept 2018</span>
          <h4 class="text-primary">Amazon Development Center</h4>

          <ul>
            <li>
              Worked with Kindle Specialist team to fixed issues related kindle
              devices, Android applications and web applications
            </li>
            <li>
              Assist customers with placing orders, processing payments, and
              handling returns or exchanges efficiently and accurately.
            </li>
            <li>
              Investigate and resolve customer complaints, issues, or disputes
              in a timely and satisfactory manner, demonstrating empathy and
              understanding throughout the process.
            </li>
          </ul>
        </div>
      </accordion-group>

      <accordion-group heading="Education">
        <div style="text-align: left">
          <h3 class="mb-0">Master of Business Administration</h3>
          <h4 class="text-primary">
            International Business University | Toronto, Canada.
          </h4>
          <ul>
            <li>May 2024</li>
          </ul>
        </div>
      </accordion-group>
      <accordion-group heading="Programming Skills">
        <div style="text-align: left">
          <div class="col">
            <h3 class="mb-0">Programming Languages</h3>
            <ul>
              <li>JavaScript</li>
              <li>TypeScript</li>
              <li>Java</li>
            </ul>
          </div>
          <div class="col">
            <h4 class="mb-0">Frameworks</h4>
            <ul>
              <li>Angular</li>
              <li>ReactJS</li>
               <li>SpringBoot</li>
            </ul>
          </div>
          <h3 class="mb-0">Other Skills</h3>
          <ul>
            <li>Microservices</li>
            <li>Source Control Via Git</li>
            <li>MVC architecture</li>
            <li>Agile Development</li>
            <li>AWS & Azure</li>
          </ul>
        </div>
      </accordion-group>
    </accordion>
  </div>
</div>
