/* You can add global styles to this file, and also import other style files */
.container{
    max-width: 1140px;
}
.tag{
    padding:4px 20px;
    height: 30px;
    width:fit-content;
    font-size:14px;
    border-radius: 25px;
    background-color: blue;
    color:white;
    margin-right: 2px;
}