<div class="container">
    <div class="row">
        <div class="col-lg border m-1" height="800px">
            <div class="text-center">
                <h2>About Me</h2>
                <img src="assets/photo.jpeg" alt="test" width="150px" height="150px" class="rounded-circle">
                <p>Tech Lead with over 7+ years of experience in software design, development, and implementation of web
                    applications, seeking a position in a well-renowned organization. Dedicated to leveraging my expertise to
                    contribute to company growth and development while utilizing my skills to drive impactful results.</p>
            </div>
        </div>

        <div class="col-lg border m-1">
            <div class="text-center">
                <h2>Feature Projects</h2>
                <h4>GE Current iOT Web Application</h4>
                <p>* Migrated Angular Web application from an older version to the latest Angular version.</p>
                 <p>* Created Dynamic Form which will be generated based on backend response.</p>   
                    <p>* Implemented drag and drop between tables functionality similar to PrimeNG and replaced with Angular Material</p>
                    <p>* Storing data using NgRx Store by dispatching actions and writing custom selectors and effects.</p>
                    <p>* Good Experience in creating and maintaining RestAPI using spring boot.</p>
                   
                    
        </div>
    </div>
</div>
