<div class="container">
    <div class="row">
        <div class="col-lg border m-1" height="800px">
            <div class="text-center">
                <h2>About Me</h2>
                <img src="assets/myphoto.png" alt="test" width="210px" height="210px" class="rounded-circle">
                <p>Tech Lead with over 7+ years of experience in software design, development, and implementation of web
                    applications, seeking a position in a well-renowned organization. Dedicated to leveraging my expertise to
                    contribute to company growth and development while utilizing my skills to drive impactful results.</p>
            </div>
        </div>

        <div class="col-lg border m-1">
            <div class="text-center">
                <h2>Feature Projects</h2>
                <h4>Daintree iOT Web Application</h4>
                <p class="mb-1">* Migrated Angular Web application from Angular 8 to the latest version.</p>
                 <p class="mb-1">* Created Dynamic Form which will be generated based on backend response.</p>   
                    <p class="mb-1">* Implemented drag and drop between tables functionality using Angular Material</p>
                    <p class="mb-1">* Storing data using NgRx Store by dispatching actions and writing custom selectors and effects.</p>
                    <p class="mb-1">* Good Experience in creating and maintaining RestAPI using spring boot.</p>    
            </div>
    </div>
</div>
